
.input__order {
  width: 500px !important;
}
.add-fav__buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.add-fave__button{
  width: 100%;
}
.count-videos__body{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(23, 23, 25, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  width: 104px;
  height: 48px;
}