.button__body {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button__loggin {
    width: 176px;
    height: 52px;
    font-size: 20px;
    line-height: 24px;
}