.favorites__container {
  display: flex;
  justify-content: center;
  margin-top:120px
}
.favorites__body {
  width: 1040px;
}
.favorites__title {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 40px;
}
.favorites__item {
  width: 100%;
  height: 47px;
  background: white;
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  justify-content: space-between
}
.favorites__link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.favorites__edit-icon{
  padding: 0 20px 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}