.form {
  background: #FFFFFF;
  border: 1px solid rgba(39, 39, 39, 0.1);
  box-sizing: border-box;
  border-radius: 5px; 
  width: 510px;
  height: 520px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form__body{
  width: 334px;
}
.form__main-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  margin-top: 40px;
  text-align: center;

}
.input__title-active{
  margin-top: 20px;
  height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color:black;
}
.input__title {
  margin-top: 20px;
  height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(23, 23, 25, 0.3);;
}
.input__req::before{
  margin-top: 20px;
  height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color:red;
  content: " * ";
}
