.grid-video__container {
  margin-top:20px;
  width: 245px;
  height: 226px;
}
.grid-video__image-body {
  border: 1px solid #1390E5;
  box-sizing: border-box;
  overflow:hidden;
  width: 245px;
  height: 138px;
}
.grid-video__image {
  width: 100%
}
.grid-video__title {
  margin-top:8px;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-video__channel {
  margin-top:8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-overflow: ellipsis;
  color: rgba(23, 23, 25, 0.3);
}