.list-video__container {
  margin-top: 20px;
  width: 687px;
  height: 88px;
  display: flex;
  flex-direction: row;
}
.list-video__image-body {
  min-width: 157px;
  max-width: 157px;
  height: 88px;
  border: 1px solid #1390E5;
  box-sizing: border-box;
  overflow:hidden;
}
.list-video__image {
  width: 100%
  
}
.list-video__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.list-video__title {
  margin-top:8px;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  height: 40px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-video__channel {
    margin-top:8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-overflow: ellipsis;
  color: rgba(23, 23, 25, 0.3);
}