.login__container {
  width: 100%;
  height: 100%;
  padding-top:140px;
}
.login__body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login__logo {
  margin-top: 40px;
  text-align: center;
}