@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  background: #E5E5E5;
  margin: 0px;
  font-family: 'Roboto'
}
.el-input__inner:focus{
  background: rgba(197, 228, 249, 0.3);
}