.search__container {
  width: 100%;
  height: 100%;
  padding-top:300px;
}
.search__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search__title {
  font-size: 36px;
line-height: 52px;
}
.search__input-line {
  margin-top:40px;
  display: flex;
  flex-direction: row;
  width: 686px;
}
.search__input>input {
position: relative;
  right: -3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

/* результаты поиска */
.result__container{
  width: 100%;
  height: 100%;
  padding-top:120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.result__body{
  width: 1040px;
}
.result__title {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
}
.result__input-line{
  margin-top:20px;
  display: flex;
  flex-direction: row;
}
.search__add-fav{
  position: relative;
  left:-100px;
}
.result__info {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.result__total-count {
  margin-left: 15px;
  color: rgba(23, 23, 25, 0.3);
}
.result__filter{
  margin-left: auto;
}
.result__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.result__list {
}