.site-header__containr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.site-header__body {
  height: 80px;
  background: #FFFFFF;
  color: #1390E5;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding: 0px 220px 0px 220px;
}
.site-header__logo {
}
.site-header__navs {
}
.site-header__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.site-header__item :visited{
  color: #1390E5;
  text-decoration: none;
}
.site-header__item {
  margin-left:40px;
  color: #1390E5;
  text-decoration: none;
}
.site-header__exit {
  margin-left: auto;
}
.site-header__item-active::after{
    display: block;
    bottom: -25px;
    content: ' ';
    border: 1px solid #34ABE0;
    width: 100%;
    position: relative;
  }
  .siteHeader__navLink {
  color: #89c2fc;
}
.siteHeader__navLink :visited{
  color: #89c2fc;
  text-decoration: none;
}