<template>
  <div>
    <siteHeader page="favorites" />
    <baseModal v-if="isModalShow">
      <editFav
        @showModal="showModal"
        :fav="this.choosedFav"
        :index="this.choosedIndex"
      />
    </baseModal>
    <div class="favorites__container">
      <div class="favorites__body">
        <div class="favorites__title">Избранное</div>
        <div class="favorites__list">
          <div v-for="(fav, index) in favs" :key="index">
            <div class="favorites__item">
              <div class="favorites__link" @click="checkFav(fav)">
                {{ fav.searchName }}
              </div>
              <div class="favorites__edit-icon" @click="showModal(fav, index)">
                <i class="el-icon-edit"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/favorites.css";
import siteHeader from "@/components/siteHeader.vue";
import baseModal from "@/components/baseModal.vue";
import editFav from "@/components/editFav.vue";

export default {
  components: {
    siteHeader,
    baseModal,
    editFav
  },
  data() {
    return {
      favs: [],
      isModalShow: false,
      choosedFav: null,
      choosedIndex: null
    };
  },
  async created() {
    const list = await this.$store.dispatch("getFavs");
    this.favs = list;
  },
  methods: {
    checkFav(fav) {
      this.$router.push({
        name: "Search",
        params: {
          fav
        }
      });
    },
    showModal(fav, index) {
      if (fav) {
        this.choosedFav = fav;
        this.choosedIndex = index;
      }
      this.isModalShow = !this.isModalShow;
    }
  }
};
</script>
