<template>
  <div>
    <div class="login__container">
      <div class="login__body">
        <div class="form">
          <div class="form__body">
            <div class="login__logo">
              <img src="@/assets/icons/big-logo.svg" alt srcset />
            </div>
            <div class="form__main-title">Вход</div>
            <div class="input">
              <div class="input__title">Логин</div>
              <div class="input__body">
                <el-form>
                  <el-input
                    class="input__value"
                    placeholder="Введите логин"
                    v-model="login"
                  ></el-input>
                </el-form>
              </div>
            </div>
            <div class="input">
              <div class="input__title">Пароль</div>
              <div class="input__body">
                <el-form>
                  <el-input
                    v-model="password"
                    placeholder="Введите пароль"
                    show-password
                  ></el-input>
                </el-form>
              </div>
            </div>
            <div class="error" v-if="errors.length">
              <div class="error__text"></div>
              <ul class="error__list">
                <li class="error__item" v-for="error in errors" :key="error">
                  {{ error }}
                </li>
              </ul>
            </div>
            <div class="button__body">
              <el-button type="primary" class="button__loggin" @click="logIn"
                >Войти</el-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/error.css";
import "@/assets/css/button.css";
import "@/assets/css/login.css";
import "@/assets/css/form.css";
export default {
  data() {
    return {
      login: "",
      password: "",
      errors: []
    };
  },
  methods: {
    async logIn() {
      this.checkForm();
      if (!this.errors.length) {
        const res = await this.$store.dispatch("signIn", {
          login: this.login,
          password: this.password
        });
        if (res) {
          this.$router.push("/search");
        } else {
          this.errors.push("Неправильный логин или пароль");
        }
      }
    },
    checkForm() {
      this.errors = [];
      if (!this.login.length) {
        this.errors.push("Введите логин");
      }
      if (!this.password.length) {
        this.errors.push("Введите пароль");
      }
    }
  }
};
</script>
