<template>
  <div>
    <siteHeader page="search" />
    <baseModal v-if="isModalShow">
      <addFav @showModal="showModal" :searchText="this.searchText" />
    </baseModal>
    <div class="search__container" v-if="this.videos.length == 0">
      <div class="search__form">
        <div class="search__title">Поиск видео</div>
        <div class="search__input-line">
          <el-input
            placeholder="Что хотите посмотреть"
            v-model="searchText"
            class="search__input"
            @keyup.native.enter="searchVideos"
          ></el-input>
          <el-button type="primary" class="search__button" @click="searchVideos"
            >Найти</el-button
          >
        </div>
      </div>
    </div>
    <div class="result__container" v-else>
      <div class="result__body">
        <div class="result__search">
          <div class="result__title">Поиск видео</div>
          <div class="result__input-line">
            <el-input
              placeholder="Что хотите посмотреть"
              v-model="searchText"
              class="search__input"
              @keyup.native.enter="searchVideos"
            ></el-input>
            <el-button
              type="primary"
              class="search__button"
              @click="searchVideos"
              >Найти</el-button
            >
            <img
              src="@/assets/icons/heart.svg"
              alt
              class="search__add-fav"
              @click="showModal"
            />
          </div>
          <div class="result__info">
            <div v-once>
              Видео по запросу &laquo;
              <b>{{ searchText }}</b
              >&raquo;
            </div>
            <div class="result__total-count">
              {{ respond.data.pageInfo.totalResults }}
            </div>
            <div class="result__filter">
              <img
                src="@/assets/icons/list.svg"
                alt
                srcset
                @click="changeIsGrid(false)"
                v-if="isGrid"
              />
              <img src="@/assets/icons/list-active.svg" alt srcset v-else />
              <img
                src="@/assets/icons/grid-active.svg"
                alt
                srcset
                v-if="isGrid"
              />
              <img
                src="@/assets/icons/grid.svg"
                alt
                srcset
                @click="changeIsGrid(true)"
                v-else
              />
            </div>
          </div>
          <div class="result__grid" v-if="isGrid">
            <gridVideo
              v-for="(video, index) in videos"
              :key="index"
              :video="video"
            />
          </div>
          <div class="result__list" v-else>
            <listVideo
              v-for="(video, index) in videos"
              :key="index"
              :video="video"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/search.css";
import siteHeader from "@/components/siteHeader.vue";
import gridVideo from "@/components/gridVideo.vue";
import listVideo from "@/components/listVideo.vue";
import baseModal from "@/components/baseModal.vue";
import addFav from "@/components/addFav.vue";

export default {
  props: ["searched"],
  components: {
    siteHeader,
    gridVideo,
    listVideo,
    baseModal,
    addFav
  },
  data() {
    return {
      isModalShow: false,
      isGrid: true,
      searchText: "",
      respond: [],
      videos: []
    };
  },
  created: async function() {
    if (this.$route.params.fav) {
      this.searchText = this.$route.params.fav.searchText;
      await this.searchVideos(
        event,
        this.$route.params.fav.order,
        this.$route.params.fav.countVideos
      );
    }
  },
  methods: {
    async searchVideos(event, order = "relevance", maxResult = "12") {
      if (this.searchText.length) {
        this.respond = await this.$store.dispatch("searchVideos", {
          q: this.searchText,
          order: order,
          maxResult: maxResult
        });
        if (this.respond.status == 200) {
          this.videos = this.respond.data.items;
        }
      }
    },
    changeIsGrid(bollen) {
      this.isGrid = bollen;
    },
    showModal() {
      this.isModalShow = !this.isModalShow;
    }
  }
};
</script>
