<template>
  <div class="modal-window__body">
    <div class="modal-window__dialog">
      <slot> </slot>
    </div>
  </div>
</template>

<script>
import "@/assets/css/modal-window.css";
export default {};
</script>
