<template>
  <div>
    <div class="add-fav__container">
      <div class="add-fav__title"></div>
      <div class="input__title-active input__req">Запрос</div>
      <div class="input__body">
        <el-input
          class="input__value"
          placeholder="Введите логин"
          v-model="fav.searchText"
        ></el-input>
      </div>
      <div class="input__title-active input__req">Название</div>
      <div class="input__body">
        <el-input
          class="input__value"
          placeholder="Введите название"
          v-model="fav.searchName"
        ></el-input>
      </div>
      <div>
        <div class="input__title-active">Сортировать по</div>
        <el-select
          v-model="fav.order"
          placeholder="Select"
          class="input__order"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
      <div class="input">
        <div class="input__title-active">Максимальное количество</div>
        <div class="block">
          <el-slider
            v-model="fav.countVideos"
            showInput
            :max="50"
            :min="1"
          ></el-slider>
        </div>
      </div>
      <div class="error" v-if="errors.length">
        <ul class="error__list">
          <li class="error__item" v-for="error in errors" :key="error">
            {{ error }}
          </li>
        </ul>
      </div>
      <div class="add-fav__buttons-container">
        <el-button class="add-fave__button" @click="showModal"
          >Не сохранять</el-button
        >
        <el-button type="primary" class="add-fave__button" @click="addFav"
          >Сохранить</el-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/error.css";
import "@/assets/css/add-fav.css";
export default {
  props: ["fav", "index"],
  data() {
    return {
      searchName: "",
      order: "relevance",
      options: [
        { label: "По дате", value: "date" },
        {
          label: "По рейтингу",
          value: "rating"
        },
        {
          label: "По названию",
          value: "title"
        },
        {
          label: "По количеству видео на канале",
          value: "videoCount"
        },
        {
          label: "По количеству просмотов",
          value: "viewCount"
        },
        {
          label: "Без сортировки",
          value: "relevance"
        }
      ],
      countVideos: 12,
      errors: []
    };
  },
  methods: {
    showModal() {
      this.$emit("showModal");
    },
    checkForm() {
      this.errors = [];
      if (this.fav.searchText.length == 0) {
        this.errors.push("Введите текст запроса");
      }
      if (this.fav.searchName.length == 0) {
        this.errors.push("Введите название избранного");
      }
    },
    addFav() {
      this.checkForm();
      if (!this.errors.length) {
        this.$store.dispatch("editFav", {
          editedFav: {
            searchText: this.fav.searchText,
            searchName: this.fav.searchName,
            order: this.fav.order,
            countVideos: this.fav.countVideos
          },
          index: this.index
        });
        alert("Избранное изменено");
        this.$emit("showModal");
      }
    }
  }
};
</script>
