<template>
  <div>
    <div class="grid-video__container">
      <div class="grid-video__image-body">
        <img
          class="grid-video__image"
          :src="video.snippet.thumbnails.medium.url"
          alt=""
        />
      </div>
      <div class="grid-video__title">{{ video.snippet.title }}</div>
      <div class="grid-video__channel">{{ video.snippet.channelTitle }}</div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/grid-video.css";
export default {
  props: ["video"]
};
</script>
