<template>
  <div>
    <div class="list-video__container">
      <div class="list-video__image-body">
        <img
          class="list-video__image"
          :src="video.snippet.thumbnails.medium.url"
          alt
        />
      </div>
      <div class="list-video__info">
        <div class="list-video__title">{{ video.snippet.title }}</div>
        <div class="list-video__channel">{{ video.snippet.channelTitle }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/list-video.css";
export default {
  props: ["video"]
};
</script>
