<template>
  <div>
    <div class="site-header__containr">
      <div class="site-header__body">
        <div class="site-header__logo">
          <img
            src="@/assets/icons/small-logo.svg"
            alt="лого"
            class="site-header__logo-image"
          />
        </div>
        <nav class="site-header__navs">
          <ul class="site-header__list">
            <router-link to="/searh" class="site-header__item"
              ><li :class="{ 'site-header__item-active': isSearch }">
                Поиск
              </li></router-link
            >
            <router-link to="/favorites" class="site-header__item"
              ><li :class="{ 'site-header__item-active': isFavorites }">
                Избранное
              </li></router-link
            >
          </ul>
        </nav>
        <div class="site-header__exit" @click="logOut">Выйти</div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/site-header.css";
export default {
  props: ["page"],
  data() {
    return {
      isSearch: false,
      isFavorites: false
    };
  },
  created: function() {
    if (this.page == "search") {
      this.isSearch = true;
    }
    if (this.page == "favorites") {
      this.isFavorites = true;
    }
  },
  methods: {
    logOut() {
      this.$store.dispatch("logOut");
      this.$router.push("/");
    }
  }
};
</script>
